-r requirements.txt

# Testing
pytest
pytest-cov
pytest-mock
pytest-xdist

# Linting and formatting
black
flake8
mypy
pylint
isort
pre-commit
GitPython
Jinja2
PyYAML
requests

# Documentation
sphinx
mkdocs
mkdocs-material

# Profiling
line-profiler
memory-profiler

# Notebook
jupyter
ipykernel
